@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

:root {
  --background: #ffffff;
  --foreground: #161b1d;

  /* init emerald */
  --brand-emerald-800: #006045;
  --brand-emerald-700: #007a55;
  --brand-emerald-600: #009966;
  --brand-emerald-500: #00bc7d;
  --brand-emerald-400: #00d492;
  --brand-emerald-300: #5ee9b5;
  --brand-emerald-200: #a4f4cf;

  /* init mist */
  --brand-mist-800: #22292b;
  --brand-mist-700: #394447;
  --brand-mist-600: #4b585b;
  --brand-mist-500: #67787c;
  --brand-mist-400: #9ca8ab;
  --brand-mist-300: #d0d6d8;
  --brand-mist-200: #f1f3f3;
  --brand-mist-100: #f1f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* reg emerald */
  --color-brand-emerald-900: var(--brand-emerald-900);
  --color-brand-emerald-800: var(--brand-emerald-800);
  --color-brand-emerald-700: var(--brand-emerald-700);
  --color-brand-emerald-600: var(--brand-emerald-600);
  --color-brand-emerald-500: var(--brand-emerald-500);
  --color-brand-emerald-400: var(--brand-emerald-400);
  --color-brand-emerald-300: var(--brand-emerald-300);
  --color-brand-emerald-200: var(--brand-emerald-200);

  /* reg mist */
  --color-brand-mist-800: var(--brand-mist-800);
  --color-brand-mist-700: var(--brand-mist-700);
  --color-brand-mist-600: var(--brand-mist-600);
  --color-brand-mist-500: var(--brand-mist-500);
  --color-brand-mist-400: var(--brand-mist-400);
  --color-brand-mist-300: var(--brand-mist-300);
  --color-brand-mist-200: var(--brand-mist-200);
  --color-brand-mist-100: var(--brand-mist-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* trans mist */
    --brand-mist-100: #14191b;
    --brand-mist-200: #14191a;
    --brand-mist-300: #1f2629;
    --brand-mist-400: #323d40;
    --brand-mist-500: #4d5d61;
    --brand-mist-600: #839599;
    --brand-mist-700: #ccd5d7;
    --brand-mist-800: #f1f3f3;

    /* trans emerald */
    --brand-emerald-800: #007a55;
    --brand-emerald-700: #009966;
    --brand-emerald-600: #00bc7d;
    --brand-emerald-500: #00d492;
    --brand-emerald-400: #5ee9b5;
    --brand-emerald-300: #a4f4cf;
    --brand-emerald-200: #004f3b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* spinner */
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #007a55;
    border-right-color: #ccd5d7;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #fefefe;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
